---
layout: default
regenerate: true
---

<div class="home h-feed">

  <ul class="post-list">
    {% for post in site.posts limit:25 %}
      <li class="h-entry">
		{% if post.microblog == false %}
			<h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
		{% endif %}

        <a href="{{ post.url | prepend: site.baseurl }}" class="u-url"><span class="post-meta"><time class="dt-published" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></span></a>

        <div class="e-content">
         	{{ post.content }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
