---
layout: default
---

<div class="home h-feed">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="h-entry">
        <a href="{{ post.url | prepend: site.baseurl }}" class="u-url"><span class="post-meta"><time class="dt-published" datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></span></a>

        <div class="e-content">
         	{{ post.content }}
        </div>
      </li>
    {% endfor %}
  </ul>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
