{{ define "main" -}}
<article class="post h-entry">
  <header class="post-header">
    {{ with .Title -}}
      <h1 class="p-name post-title">{{ . }}</h1>
    {{- end }}
    <p class="post-meta"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
  </header>

  <section class="post-content e-content">
    {{- .Content -}}
  </section>

</article>

{{ if .Site.Params.include_conversation }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}

{{- end }}
