:root {
  --font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-size-medium: 17px;
  --font-size-small: 15px;
  --font-size-large: 20px;
  --font-size-title: 24px;
  --font-color-main: #464545;
  --font-color-accent: #1756a9;
  --font-color-accent-secondary: #db4325;
  --font-color-accent-block: #dba425;
  --background-color-main: #f9f9f9;
  --width-content: 800px;
}

/** Basic styling */
body {
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  color: var(--font-color-main);
  line-height: 1.4;
  background-color: var(--background-color-main);
}

/** Images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/** Links */
a {
  color: var(--font-color-accent);
  text-decoration: none;
}
a:visited {
  color: var(--font-color-accent);
}
a:hover {
  color: var(--font-color-accent-secondary);
  text-decoration: underline;
}

/** Blockquotes */
blockquote,
.microblog_email blockquote {
  border-left: 4px solid var(--font-color-accent-block);
  border-right: 4px solid var(--font-color-accent-block);
  border-top: 1px solid var(--font-color-accent-block);
  border-bottom: 1px solid var(--font-color-accent-block);
  color: var(--font-color-main);
  padding: 5px 15px 15px 15px;
  background-color: #ffb90824;
  border-radius: 8px;
}

/** Site Header */
.site-header {
  max-width: var(--width-content);
  margin: auto;
}

.site-header-title {
  font-size: var(--font-size-title);
  text-align: center;
}

/** Site Nav */
.site-header-nav {
  max-width: var(--width-content);
  margin: auto;
  text-align: center;
}

/** Content */
.page-content {
  max-width: var(--width-content);
  margin: auto;
}
.post-list .post-list-item {
  list-style: none;
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
  margin-top: 25px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
}

.post-list-item-title {
  text-align: center;
  font-size: var(--font-size-large);
}

.post-list-item-date {
  text-align: center;
  font-size: var(--font-size-medium);
}
