:root {
  --font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-size-medium: 17px;
  --font-size-small: 15px;
  --font-size-large: 24px;
  --font-size-title: 22px;
  --font-color-main: #323131;
  --font-color-accent: #1756a9;
  --font-color-subtle: #7f7e7e;
  --font-color-accent-secondary: #db4325;
  --font-color-accent-block: #dba425;
  --background-color-main: #f9f9f9;
  --width-max: 700px;
  --width-min: 350;
}

/** Basic styling */
body {
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  color: var(--font-color-main);
  line-height: 1.4;
  background-color: var(--background-color-main);
}

/** Images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/** Links */
a {
  color: var(--font-color-accent);
  text-decoration: none;
}
a:visited {
  color: var(--font-color-main);
}
a:hover {
  color: var(--font-color-accent-secondary);
  text-decoration: none;
}

/** Site Header */
.site-header {
  margin-top: 20px;
  max-width: var(--width-max);
  min-width: var(--width-min);
  margin: auto;
  text-align: center;
}

.site-header-title,
.site-nav-link {
  padding: 10px;
}

a.site-header-title-link {
  font-size: var(--font-size-title);
  color: var(--font-color-subtle);
}

.site-image {
  border-radius: 25px;
}

/** Site Footer */
.site-footer {
  max-width: var(--width-max);
  min-width: var(--width-min);
  margin: auto;
  text-align: center;
}

.rss-subscribe {
  text-align: center;
}

/** Site Nav */
.site-header-nav {
  max-width: var(--width-max);
  min-width: var(--width-min);
  margin: auto;
  text-align: center;
}

/** Content */
.page-content {
  max-width: var(--width-max);
  min-width: var(--width-min);
  margin: auto;
}

.post-list {
  padding: 0px;
  margin: 0px;
}

.postlist.post-list-item,
.post,.postlist.h-entry {
  list-style: none;
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
  margin-top: 25px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
}

.post-header {
  text-align: center;
}

a.post-list-item-title {
  display: block;
  text-align: center;
  font-size: var(--font-size-large);
  color: var(--font-color-main);
}

a.post-list-item-title:hover, a.post-list-item-date:hover {
  color: var(--font-color-accent-secondary);
}

a.post-list-item-date {
  display: block;
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--font-color-subtle);
}

/** Blockquotes */
blockquote,
.microblog_email blockquote {
  border-left: 4px solid var(--font-color-accent-block);
  border-right: 4px solid var(--font-color-accent-block);
  border-top: 1px solid var(--font-color-accent-block);
  border-bottom: 1px solid var(--font-color-accent-block);
  color: var(--font-color-main);
  padding: 5px 15px 15px 15px;
  background-color: #ffb90824;
  border-radius: 8px;
}