<style>
  :root {
    --body-background-color: {{ .Site.Params.body_background_color }};
    --body-text-color: {{ .Site.Params.body_text_color }};
    --body-accent-color: {{ .Site.Params.body_accent_color }};
    --card-background-color: {{ .Site.Params.card_background_color }};
    --card-text-color: {{ .Site.Params.card_text_color }};
    --card-accent-color: {{ .Site.Params.card_accent_color }};
    --hover-color: {{ .Site.Params.hover_color }};
    --font-color-secondary: {{ .Site.Params.secondary_color }};
    --blockquote: {{ .Site.Params.blockquote_color }};
    --blockquote-border: {{ .Site.Params.blockquote_border }};
    --blockquote-text: {{ .Site.Params.blockquote_text }};
    --shadow-color: {{ .Site.Params.shadow_color }};
  }
</style>