<style>
  :root {
    --body-background-color: {{ .Site.Params.body_background_color }};
    --body-text-color: {{ .Site.Params.body_text_color }};
    --body-accent-color: {{ .Site.Params.body_accent_color }};
    --card-background-color: {{ .Site.Params.card_background_color }};
    --card-text-color: {{ .Site.Params.card_text_color }};
    --card-accent-color: {{ .Site.Params.card_accent_color }};
    --hover-color: {{ .Site.Params.hover_color }};
    --font-color-subtle: {{ .Site.Params.subtle_color }};
    --font-color-blockquote: {{ .Site.Params.blockquote_color }};
    --shadow-color: {{ .Site.Params.shadow_color }};
  }
</style>