<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>
      {{ block "title" . }}
      {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} - {{ .Title }}{{ end }}
      {{ end }}
  </title>

  <meta name="description" content="{{ .Summary }}">

  <link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ partial "microblog_head.html" . }}
</head>
