<header class="site-header">
  <div class="site-header-title">
    <a class="site-header-title-link" href="/">{{ .Site.Title }}</a>
    <nav class="site-nav">
      <div class="site-nav-trigger">
        {{ range .Site.Menus.main }} {{ if .Page.Params.redirect }}
        <a class="page-link" href="{{ .Page.Params.redirect }}">{{ .Name }}</a>
        {{ else }}
        <a class="page-link" href="{{ .URL | relLangURL | safeURL }}"
          >{{ .Name }}</a
        >
        {{ end }} {{ end }}
      </div>
    </nav>
</header>